.blog-page-title {
  color: var(--main-color);
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

/* article */
.articles {
  margin: 0 auto;
  width: 80%;
}

.article {
  background-color: white;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  max-width: 760px;
}

.article:hover {
  border-right: 2px solid var(--main-color);
}

.article__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.article__img {
  margin-right: 2rem;
  width: 20%;
}

.author {
  color: var(--second-color);
  font-size: 0.9rem;
}

.article__created {
  font-size: 0.7rem;
}
