@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

:root {
  --main-color: #17252a;
  --second-color: #2b7a78;
  --third-color: #3aafa9;
  --fourth-color: #def2f1;
  --fifth-color: #feffff;
}

html {
  background-color: #fdfffc;
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: relative;
}

#root {
  height: 100%;
}

main {
  height: 100%;
}

a {
  color: #3aafa9;
  text-decoration-color: darkgray;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #3aafa9;
  text-decoration-color: darkgray;
}

img {
  width: 100%;
}

/* General Css classes */
.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}

.row {
  display: flex;
  flex-direction: row;
  /* width: 100%; */
}

.col {
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #17252a;
  border-style: none;
  color: white;
  padding: 10px;
}
