.hero-container {
  height: 100%;
}

.hero {
  height: 70%;
  position: relative;
  margin-bottom: 5rem;
}

.hero__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./hero-img2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.hero__text {
  color: white;
  position: absolute;
  left: 2%;
  top: 48%;
  width: 300px;
}

.hero__text p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero__text a {
  color: white;
  text-decoration: none;
}

/* about */
.about {
  /* height: 50%; */
  justify-content: space-around;
  margin-bottom: 2rem;
}

.about__img {
  width: 30%;
}

.about__text {
  border-bottom: 2px solid #def2f1;
  border-top: 2px solid #def2f1;
  padding: 2rem 0;
  width: 30%;
}

.about__text p + p {
  margin-top: 1rem;
}

.about__title {
  font-size: 2rem;
}

.about__skills {
  width: 30%;
}

.skills__title {
  font-size: 2rem;
}

.skills__items {
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills__item {
  font-size: 4rem;
  margin: 1rem 0;
}

.skill__icon {
  color: var(--second-color);
}
