.hero {
  height: 70%;
  position: relative;
  margin-bottom: 5rem;
}

.hero__img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./hero-img2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}

.hero__text {
  background-color: white;
  /* color: white; */
  position: absolute;
  left: 5%;
  top: 40%;
  width: 300px;
}

.hero__text p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero__text a {
  color: white;
  text-decoration: none;
}

/* about */
.about {
  /* height: 50%; */
  /* justify-content: space-between; */
  margin-bottom: 2rem;
}

.about__img {
  background-image: url(./about-img.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 300px; */
  width: 30%;
}

.about__text {
  border-bottom: 2px solid #def2f1;
  border-top: 2px solid #def2f1;
  margin-left: 10rem;
  padding: 2rem 0;
  width: 30%;
}

.about__title {
  font-size: 2rem;
}
